<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h3>View Friend List</h3>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">friend Name</th>
                            <th scope="col">Describe Your Friend</th>
                            <th scope="col">Friend Nickname</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of data">
                            <td>{{i.name}}</td>
                            <td>{{i.friendName}}</td>
                            <td>{{i.DescribeYourFriend}}</td>
                            <td>{{i.friendNickName}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
